* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

li {
  list-style: none;
}

.burger {
  display: none;
  height: 40px;
  width: 40px;
  flex-direction: column;
  z-index: -3;
  position: relative;
  margin-top: 16px;
  right: 300px;

  .bar {
    display: block;
    width: 40px;
    height: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: transform 0.2s ease-in;
  }

  &.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(40deg);
    background-color: #f9f9f9;
    width: 50px;
    height: 25px;
  }
  &.active .bar:nth-child(2) {
    transform: translateY(-4px) rotate(-40deg);
    background-color: #f9f9f9;
    width: 50px;
    height: 25px;
  }
  &.active .bar:nth-child(3) {
    transform: translateY(-17px) rotate(-40deg);
    background-color: #f9f9f9;
    width: 50px;
    height: 25px;
  }
}

.header {
  background-image: url(/src/img/banner.png);
  background-size: 150% 150%;

  &__logo {
    position: absolute;
    top: 0;
  }

  .logo__img {
    width: 180px;
    max-width: 180px;
    height: auto;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__nav {
    padding-top: 50px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  &__link {
    color: #f5ebeb;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      font-size: 40px;
    }
  }

  .li-left {
    padding-right: 106px;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      padding: 0;
    }
  }

  .li-right {
    padding-left: 106px;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      padding: 0;
    }
  }

  @media screen and (max-width: 375px),
    (max-width: 480px),
    (max-width: 700px),
    (max-width: 900px) {
    .nav__list {
      display: flex;
      position: fixed;
      top: 0px;
      right: -100%;
      height: 100%;
      width: 100%;
      background: rgba(194, 63, 62, 0.97);
      z-index: 2;
      flex-direction: column;
      justify-content: center;
      transition: top 0.1s ease-in-out;
      &.active {
        right: 0;
      }
    }

    .burger {
      z-index: 3;
    }

    .burger {
      display: flex;
      cursor: pointer;
    }
  }
}

.mob_active {
  position: fixed;
  left: 50px;
  z-index: 5000;
  width: 5%;
  background: #c23f3e;
}

.navbar {
  &_scrolled {
    width: 100%;
    padding-top: 40px;
    padding-left: 250px;
    position: fixed;
    background-color: #c23f3e;
    animation-name: fadeInUp;
    animation-duration: 1s;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      right: -100%;
    }

    li {
      padding: 9px;
    }

    .li-left {
      padding-right: 0px;
    }

    .li-right {
      padding-left: 0px;
    }
  }
}

.hero {
  height: 320px;
  width: 100%;
  margin: 192px auto 0 auto;

  &__subtitle {
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  &__title {
    max-width: 500px;
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-weight: 700;
    font-size: 64px;
  }

  &__btn {
    width: 200px;
    height: 40px;
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #fff;
    margin-top: 16px;
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
  }

  .btn_text {
    color: #5c5c5c;
  }
}

.services {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 68px 34px;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    padding: 17px;
  }

  &__img {
    height: 250px;
    width: 350px;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      width: 550px;
      height: 400px;
    }
  }

  &__title {
    color: #5c5c5c;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: center;
    padding: 17px;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      font-size: 20px;
    }
  }

  &__text {
    max-width: 334px;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 26px;
    color: #5c5c5c;
    text-align: center;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      font-size: 20px;
      min-width: 500px;
    }
  }

  &__click {
    color: #c23f3e;
  }
}

.amenities {
  background: url(/src/img/banner-5.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 270px;

  &__content {
    text-align: center;
  }

  &__title {
    color: #fff;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.16px;
    text-transform: none;
    padding-bottom: 34px;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      font-size: 35px;
      line-height: 40px;
    }
  }

  &__text {
    color: #fff;
    margin-bottom: 114px;
    font-size: 16px;
    line-height: 26px;
    font-family: "Roboto";
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      font-size: 25px;
    }
  }

  &__box {
    padding-bottom: 150px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(2, 200px);
    margin-left: 90px;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      grid-template-rows: repeat(10, 500px);
      grid-template-columns: repeat(1, 100px);
      margin-left: 1px;
      justify-content: center;
      margin-right: 90px;
    }

    .li {
      @media screen and (max-width: 375px),
        (max-width: 480px),
        (max-width: 700px),
        (max-width: 900px) {
        text-align: center;
      }
    }
  }

  &__caption {
    max-width: 120px;
    text-align: center;
    color: #fff;
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 23px;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      font-size: 40px;
      line-height: 40px;
      width: 245px;
      max-width: 245px;
    }
  }

  &__img {
    width: 63px;
    height: 56px;
    margin-left: 28px;
    margin-bottom: 34px;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      width: 230px;
      height: 230px;
      margin: 0;
    }
  }
}

.wpas {
  &__content {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    color: #5c5c5c;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 21px;
    letter-spacing: 0.16px;
    text-transform: none;
    padding-bottom: 34px;
    text-align: center;
  }

  &__block {
    padding-bottom: 40px;
    margin-left: 338px;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 640px) {
      margin-left: 0;
    }

    @media screen and (max-width: 375px),
      (max-width: 700px),
      (max-width: 900px) {
      margin-left: 200px;
    }
  }

  &__aside {
    max-width: 440px;
  }

  &__pers {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 500;
    letter-spacing: 2px;
    color: #444444;
    text-transform: uppercase;
  }

  &__img {
    height: 25px;
    width: 25px;
    float: right;
  }

  &__date {
    color: #555555;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 26px;
  }

  &__text {
    float: left;
    color: #444444;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 26px;
  }

  .checked {
    color: #c13e3f;
    width: 18px;
  }

  .notchecked {
    font-weight: 400;
    color: #c13e3f;
  }
}

.faq {
  background-color: #ecf1f8;
  padding-top: 100px;
  padding-bottom: 100px;

  &__title {
    text-align: center;
    padding-bottom: 34px;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      font-size: 40px;
    }
  }

  .faq-click {
    color: #c23f3e;
  }

  .accordion {
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      flex-wrap: wrap;
    }

    .accordion-item {
      button[aria-expanded="true"] {
        border-bottom: 1px solid #ccc;
      }
    }
    button {
      position: relative;
      display: block;
      text-align: left;
      width: 100%;
      padding: 13px 0;
      color: #5c5c5c;
      font-size: 1.15rem;
      font-weight: 400;
      border: none;
      background: none;
      outline: none;
      &:hover,
      &:focus {
        cursor: pointer;
        &::after {
          cursor: pointer;
        }
      }

      @media screen and (max-width: 375px),
        (max-width: 480px),
        (max-width: 700px),
        (max-width: 900px) {
        font-size: 39px;
      }

      .accordion-title {
        padding-left: 24px;
      }
      .icon {
        display: inline-block;
        color: #c23f3e;
        position: absolute;
        top: 14px;
        left: 0;
        width: 22px;
        height: 22px;
        &::before {
          display: block;
          position: absolute;
          content: "";
          top: 9px;
          left: 5px;
          width: 10px;
          height: 2px;
          background: currentColor;
        }
        &::after {
          display: block;
          position: absolute;
          content: "";
          top: 5px;
          left: 9px;
          width: 2px;
          height: 10px;
          background: currentColor;
        }

        @media screen and (max-width: 375px),
          (max-width: 480px),
          (max-width: 700px),
          (max-width: 900px) {
        }
      }
    }
    button[aria-expanded="true"] {
      + .accordion-content {
        opacity: 1;
        max-height: 9em;
        transition: all 200ms linear;
        will-change: opacity, max-height;

        @media screen and (max-width: 375px),
          (max-width: 480px),
          (max-width: 700px),
          (max-width: 900px) {
          max-height: 500px;
        }
      }
    }
    .accordion-content {
      max-width: 500px;
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 200ms linear, max-height 200ms linear;
      will-change: opacity, max-height;
      p {
        font-size: 16px;
        font-weight: 300;
        margin: 32px 0;

        @media screen and (max-width: 375px),
          (max-width: 480px),
          (max-width: 700px),
          (max-width: 900px) {
          font-size: 25px;
        }
      }
    }
  }
}

.contact {
  padding: 100px 0;
  &__content {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      flex-wrap: wrap;
    }
  }

  &__title {
    padding: 34px 0;
    color: #5c5c5c;
    font-family: "Open Sans";
    font-weight: 500;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      font-size: 40px;
    }
  }

  &__mail {
    color: #c23f3e;
  }

  &__facebook {
    color: blue;
    font-size: 20px;
    margin: 40px 0;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      font-size: 30px;
    }
  }

  &__info {
    padding-bottom: 34px;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      font-size: 20px;
    }
  }

  &__text {
    max-width: 180px;
  }

  &__map {
    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      width: 500px;
      height: 400px;
    }
  }

  .headline {
    padding: 12px 0;

    @media screen and (max-width: 375px),
      (max-width: 480px),
      (max-width: 700px),
      (max-width: 900px) {
      padding: 22px 0;
    }
  }
}

.footer {
  background-color: #c23f3e;
  padding: 100px 0;

  &__content {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  }

  &__title {
    text-align: center;
    color: #fff;
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 30px;
    line-height: 19px;
    letter-spacing: 0.16px;
  }

  &__form {
    padding-left: 60px;
  }

  .form-input {
    padding: 16px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    font-family: inherit;
    font-size: 15px;
    line-height: normal;
    outline: none;
  }

  &__btn {
    color: #5c5c5c;
    background-color: #fff;
    border: 1px solid #fff !important;
    font-family: inherit;
    font-size: 15px;
    line-height: normal;
    font-weight: normal;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 16px 35px;
    cursor: pointer;
  }

  &__info {
    color: #fff;
    max-width: 450px;
    text-align: center;
    padding: 34px 0;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.3px;
    font-size: small;
  }

  &__logo {
    width: 350px;
    height: 120px;
  }

  &__click {
    text-decoration: revert;
  }
}
